{% extends "base.html" %}
{# <!-- kate: space-indent on; indent-width 2; replace-tabs on; --> #}
{% block head %}
  {{ super() }}
  <link href="http://svedr.in/_rss" rel="alternate"
    type="application/rss+xml" title="Svedrin's Gallery" />
  <link href="http://svedr.in/_rss/{{ album }}" rel="alternate"
    type="application/rss+xml" title="Svedrin's Gallery :: {{ album|capitalize }}" />
{% endblock %}
{% block header %}
  <a href="/">&nbsp;&nbsp;/&nbsp;&nbsp;</a>
  <a href="/{{ album }}">{{ album }}</a>
{% endblock %}
{% block content %}
  <ul id="imagelist">
  {% for prefix in images %}
    <li><a href="/{{album}}/{{ images[prefix][-1] }}.html"><img
      src="/{{album}}/thumbs/{{ images[prefix][-1] }}"
      alt="{{ images[prefix][-1] }}" /></a></li>
  {% endfor %}
  </ul>
{% endblock %}
{% block footer %}
  {{ super() }}
  {{ count }} Image files, {{ size }}MB total
{% endblock %}
