<!DOCTYPE html>
<html>
  <head>
    <title>need title</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/_style.css" />
    <link rel="SHORTCUT ICON" href="https://www.gravatar.com/avatar/6a11052bfa1ae52aa63fc0001417158d?size=80" />
    {% block head %}
    <script>
      function body_onload(){}
    </script>
    {% endblock head %}
  </head>
  <body onload="body_onload()">
    <header>
      {% block header %}
      {% endblock header %}
    </header>
    <div style="clear: both"></div>
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
    <div style="clear: both"></div>
    <footer>
      {% block footer %}
      {% endblock footer %}
    </footer>
  </body>
</html>
