<!DOCTYPE html>
<html>
  <head>
    {# <!-- kate: space-indent on; indent-width 2; replace-tabs on; --> #}
    <title>fhqwhgads</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="SHORTCUT ICON" href="https://www.gravatar.com/avatar/6a11052bfa1ae52aa63fc0001417158d?size=80" />
    {% block head %}
    <script>
      function body_onload(){}
    </script>
    {% endblock %}
  </head>
  <body onload="body_onload()">
    <header>
      {% block header %}
      {% endblock %}
    </header>
    <div style="clear: both"></div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <div style="clear: both"></div>
    <footer>
      {% block footer %}
      {% endblock %}
    </footer>
  </body>
  <!-- I'm so glad The Cheat is not dead. -->
</html>
