{% extends "base.html" %}

{% block header %}
  <a href="/">&nbsp;&nbsp;/&nbsp;&nbsp;</a>
  <a href="/{{ album }}">{{ album }}</a> /
  <a href="/{{ album }}/{{ image }}">{{ image }}</a>
{% endblock header %}

{% block content %}
  <div class="contentpanel">
    <div class="mainimagewrapper"><a href="/_/img/{{ album }}/{{ image }}"><img
      src="/_/preview/{{ album }}/{{ image }}"
      alt="{{ image }}" /></a></div>
  </div>
  {% if exif %}
    <div class="contentpanel">
      Shot with {{ exif['Image Model'] }} at {{ exif['EXIF DateTimeOriginal'] }}
      {% if imgformat %}                   — <span title="Format">{{ imgformat }}</span>{% endif %}
      {% if exif['EXIF ExposureTime'] %}   — <span title="Exposure Time">{{ exif['EXIF ExposureTime']|exifquot }}s</span>
      {% if exif['EXIF ExposureBiasValue'] and exif['EXIF ExposureBiasValue']|exifquot != 0 %} (<span title="Exposure Bias">{{ exif['EXIF ExposureBiasValue'] }}EV)</span>{% endif %}
      {% endif %}
      {% if exif['EXIF ISOSpeedRatings'] %}— <span title="ISO">ISO {{ exif['EXIF ISOSpeedRatings'] }}</span>{% endif %}
      {% if exif['EXIF FocalLength'] %}    — <span title="Focal Length">{{ exif['EXIF FocalLength']|exifquot }}mm</span>{% endif %}
      {% if exif['EXIF FNumber'] %}        — <span title="F Number">F{{ exif['EXIF FNumber']|exifquot }}</span>{% endif %}
      {% if exif['EXIF Flash'] %}          — <span title="Flash">{{ exif['EXIF Flash'] }}</span>{% endif %}
      {% if exif['Image Software'] %}
        — Revised using {{ exif['Image Software'] }}
      {% endif %}
    </div>
  {% endif %}
{% endblock content %}
