{% extends "base.html" %}

{% block header %}
  <a href="/" style="text-decoration: none">&nbsp;&nbsp;<span style="text-decoration: underline">/</span>&nbsp;&nbsp;</a>
  {% for bread in crumbs %}
    {% if not loop.first %}&nbsp;&nbsp;/&nbsp;&nbsp;{% endif %}
    <a href="/{{ bread.1|safe }}">{{ bread.0 }}</a>
  {% endfor %}
{% endblock header %}

{% block content %}
  <div class="contentpanel">
    <div class="mainimagewrapper"><a href="/_/img/{{ this_album|safe }}{{ image }}"><img
      src="/_/preview/{{ this_album|safe }}{{ image }}"
      alt="{{ image }}" /></a></div>
  </div>
  {% if exif %}
    <div class="contentpanel">
      Shot with {{ exif['Model'] }} at {{ exif['DateTimeOriginal'] }}
      {% if imgformat %}              — <span title="Format">{{ imgformat }}</span>{% endif %}
      {% if exif['ExposureTime'] %}   — <span title="Exposure Time">{{ exif['ExposureTime'] }}</span>{% endif %}
      {% if exif['ExposureBiasValue'] %} (<span title="Exposure Bias">{{ exif['ExposureBiasValue'] }})</span>{% endif %}
      {% if exif['ISOSpeedRatings'] %}— <span title="ISO">ISO {{ exif['ISOSpeedRatings'] }}</span>{% endif %}
      {% if exif['FocalLength'] %}    — <span title="Focal Length">{{ exif['FocalLength'] }}</span>{% endif %}
      {% if exif['FNumber'] %}        — <span title="F Number">{{ exif['FNumber'] }}</span>{% endif %}
      {% if exif['Software'] != '"Ver.1.01 "' %}
        — Revised using {{ exif['Software'] }}
      {% endif %}
    </div>
  {% endif %}
{% endblock content %}
