{% extends "base.html" %}

{% block head %}
  <script type="text/javascript" src="/_album.js"></script>
  <script type="text/javascript">
    window.albums = {{ albums | json_encode() | safe }};
  </script>
{% endblock head %}

{% block header %}
  <a href="/" style="text-decoration: none">&nbsp;&nbsp;<span style="text-decoration: underline">/</span>&nbsp;&nbsp;</a>
  {% for bread in crumbs %}
    {% if not loop.first %}&nbsp;&nbsp;/&nbsp;&nbsp;{% endif %}
    <a href="/{{ bread.1|safe }}">{{ bread.0 }}</a>
  {% endfor %}
{% endblock header %}

{% block content %}
  {{ super() }}
  <ul id="albumlist" class="albumlist">
  {% for subalbum in albums %}
    {% if subalbum.1 %}
      <li>
        <a href="{{ url_for(album=subalbum.0)|urlencode|safe }}">
          {{ subalbum.0|capitalize }}<br />
          <div    id="div_{{ subalbum.0|safe }}" style="width: 660px; height: 340px; display: none; justify-content: center; align-items: center;">
            <div class="loader"></div>
          </div>
          <canvas id="cnv_{{ subalbum.0|safe }}" width="660" height="340" style="display: none"></canvas>
          <noscript>
            <ul class="imagelist">
            {% for img in subalbum.1 %}
              <li><img
                src="{{ url_for(prefix='_/thumb', album=subalbum.0, image=img)|urlencode|safe }}"
                alt="{{ img }}" /></li>
            {% endfor %}
            </ul>
          </noscript>
        </a>
      </li>
    {% else %}
      <li><a href="{{ url_for(album=subalbum.0)|urlencode|safe }}">{{ subalbum.0|capitalize }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>

  <ul id="imagelist" class="imagelist">
  {% for image in images %}
    <li><a href="{{ url_for(album=this_album, image=image)|urlencode|safe }}"><img
      src="{{ url_for(prefix='_/thumb', album=this_album, image=image)|urlencode|safe }}"
      alt="{{ image }}" /></a></li>
  {% endfor %}
  </ul>
{% endblock content %}
