{% extends "base.html" %}

{% block head %}
  <script type="text/javascript" src="/_album.js"></script>
  <script type="text/javascript">
    window.albums = {{ albums | json_encode() | safe }};
  </script>
{% endblock head %}

{% block header %}
  <a href="/" style="text-decoration: none">&nbsp;&nbsp;<span style="text-decoration: underline">/</span>&nbsp;&nbsp;</a>
  {% for bread in crumbs %}
    {% if not loop.first %}&nbsp;&nbsp;/&nbsp;&nbsp;{% endif %}
    <a href="/{{ bread.1|safe }}">{{ bread.0 }}</a>
  {% endfor %}
{% endblock header %}

{% block content %}
  {{ super() }}
  <ul id="albumlist" class="albumlist">
  {% for subalbum in albums %}
    <li>{{ subalbum.0|capitalize }}<br />
      <a href="/{{ subalbum.0|safe }}">
        <canvas id="cnv_{{ subalbum.0|safe }}" width="660" height="340" style="display: none"></canvas>
        <noscript>
          <ul class="imagelist">
          {% for img in subalbum.1 %}
            <li><img
              src="/_/thumb/{{ subalbum.0|safe }}{{ img }}"
              alt="{{ img }}" /></li>
          {% endfor %}
          </ul>
        </noscript>
      </a>
    </li>
  {% endfor %}
  </ul>

  <ul id="imagelist" class="imagelist">
  {% for image in images %}
    <li><a href="/{{ this_album|safe }}{{ image }}"><img
      src="/_/thumb/{{ this_album|safe }}{{ image }}"
      alt="{{ image }}" /></a></li>
  {% endfor %}
  </ul>
{% endblock content %}
