{% extends "base.html" %}

{% block head %}
  <script type="text/javascript">
    window.albums = {{ imagejson|safe }};
  </script>
  <script type="text/javascript" src="/_album.js"></script>
{% endblock %}

{% block header %}
  <a href="/">&nbsp;&nbsp;/&nbsp;&nbsp;</a>
{% endblock %}

{% block content %}
  {{ super() }}
  <ul id="albumlist">
  {% for album in albums %}
    <li>{{ album|capitalize }}<br />
      <a href="/{{ album }}">
        <canvas id="cnv_{{ album }}" width="660" height="340" style="display: none"></canvas>
        <noscript>
          <ul id="imagelist">
          {% for img in images[album] %}
            <li><img
              src="/_/thumb/{{ album }}/{{ img }}"
              alt="{{ img }}" /></li>
          {% endfor %}
          </ul>
        </noscript>
      </a>
    </li>
  {% endfor %}
  </ul>
{% endblock %}
